mixin gamesFormatItem(img,gamesFormatName, text)
    section.games-format-item
        .games-format-item-img
            img.page__img(src=img)
        .games-format-item-details
            details.page__details
                summary.page__details-summary 
                    span.page__text Правла игры 
                    span.games-format-name=gamesFormatName
                if text == 'first'
                    ul.page__lists
                        .page__text Каждая команда состоит из 6 человек: 
                        .page__text 1 капитан и 5 интеллектуалов.
                        li.page__list Ведущий задает оригинальные вопросы, которые охватывают все области знаний, требуют эрудиции, логики мышления.
                        li.page__list На каждый вопрос команде дается 1 минута на обсуждение, после чего ведущий собирает бланки с ответами.
                        li.page__list Если команда предложила правильный ответ на вопрос ведущего, она получает 1 балл, если нет – 0.
                        li.page__list Победителем по итогам игры становится команда, набравшая максимальное количество баллов.
                        li.page__list В случае равенства баллов, задается «контрольный вопрос».
                         
                else if text=='second'
                    ul.page__lists
                        .page__text Игра подразумевает собой три категории заданий.
                        
                        li.page__text_light Читай:  назвать автора известного литературного произведения или афоризма.
                        li.page__text_light Слушай:  определить исполнителя песни.
                        li.page__text_light Смотри:  угадать название фильма.
                       
                        li.page__text_light На каждом столе атрибут игры-кнопка. Именно она дает возможность ответить первым. Жюри фиксирует, кто в какой последовательности нажал, так и отвечает. За неправильный ответ – минус один балл, за правильный – плюс один балл.
                        li.page__text_light Всего 60 заданий. В конце вечера побеждает команда с наибольшим количеством ответов.
                else if text=='thrid'
                    ul.page__lists
                        .page__text Игра состоит из пяти категорий:
                        li.page__text Верю — не верю
                        li.page__text История
                        li.page__text Проза
                        li.page__text Короли и Королевы
                        li.page__text Да ну
                        .page__text_light В каждой категории по 5 вопросов. Команды состоят из 6 человек. Ведущий дает право выбрать категорию первому столу. Первый стол имеет право первого ответа. На ответ дается минута. Если первый стол отвечает правильно — команда получает 1 балл, ход переходит ко второму столу. Если команда ответила не правильно, в игру вступают остальные команды. В течении минуты команды сдают бланки с ответами ведущему. Ход переходит к третьему столу и т.д.
                        .page__text_light Жюри фиксирует баллы. Победителем становится команда, набравшая наибольшее количество правильных вопросов. В случае равенства баллов, задается контрольный вопрос.
                else if text=='four'
                    ul.page__lists
                        .page__text Общие положения
                        li.page__list В игре принимают участие 5-7 команд по 6-8 человек (далее знатоки).
                        li.page__list Каждая команда должна ответить на 5 вопросов.
                        li.page__list Ведущий по очереди задает вопросы каждой команде, а знатоки за 1 минуту должны найти ответ на поставленный вопрос.
                        li.page__list Если знатоки правильно отвечают на вопрос, они зарабатывают балл.
                        li.page__list Правильность ответа определяет ведущий игры.
                        li.page__list Победителем игры становится команда, набравшая большее количество баллов.
                        li.page__list Если несколько команд набрали одинаковое количество баллов, они встречаются в дополнительном поединке, где им будет задан один вопрос на скорость ответа.

                else
                    ul.page__lists
                            .page__text Каждая команда состоит из 6 человек: 
                            .page__text 1 капитан и 5 интеллектуалов.
                            li.page__list Ведущий задает оригинальные вопросы, которые охватывают все области знаний, требуют эрудиции, логики мышления.
                            li.page__list На каждый вопрос команде дается 1 минута на обсуждение, после чего ведущий собирает бланки с ответами.
                            li.page__list Если команда предложила правильный ответ на вопрос ведущего, она получает 1 балл, если нет – 0.
                            li.page__list Победителем по итогам игры становится команда, набравшая максимальное количество баллов.
                            li.page__list В случае равенства баллов, задается «контрольный вопрос».




.wrapper    
    include ../blocks/shared/on-main
    section.games-format-title
            h1.page__title-h1.page__title-h1_text-shadow_gray
                        span Формат <br>  
                        span Наших игр
    section.games-format-items
        +gamesFormatItem('assets/img/img-games-2.png',' Угадать за 60 секунд',  'first')
        +gamesFormatItem('assets/img/img-games-1.png',' Читай. Слушай. Смотри', 'second')
        +gamesFormatItem('assets/img/img-games-3.png',' Большая игра', 'thrid')
        +gamesFormatItem('assets/img/img-games-4.png',' Что?Где?Почему?', 'four')
    include ../blocks/mixins/mixin-blockquote
    +blockquote('Мы приглашаем к участию  новых интересных людей из мира бизнеса.')
include ../blocks/mixins/mixin-next-section
+nextSection('Следующий раздел', 'корпоративные игры', '../games-of-corparations/games-of-corparations.html')

                

